# Data Processing

## Import Statements

In [3]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('postings.csv')
data.head()

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,This position requires a baseline understandin...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0

## EDA

In [5]:
data.shape

(123849, 31)

In [6]:
data.columns

Index(['job_id', 'company_name', 'title', 'description', 'max_salary',
       'pay_period', 'location', 'company_id', 'views', 'med_salary',
       'min_salary', 'formatted_work_type', 'applies', 'original_listed_time',
       'remote_allowed', 'job_posting_url', 'application_url',
       'application_type', 'expiry', 'closed_time',
       'formatted_experience_level', 'skills_desc', 'listed_time',
       'posting_domain', 'sponsored', 'work_type', 'currency',
       'compensation_type', 'normalized_salary', 'zip_code', 'fips'],
      dtype='object')

In [7]:
data.dtypes

job_id                          int64
company_name                   object
title                          object
description                    object
max_salary                    float64
pay_period                     object
location                       object
company_id                    float64
views                         float64
med_salary                    float64
min_salary                    float64
formatted_work_type            object
applies                       float64
original_listed_time          float64
remote_allowed                float64
job_posting_url                object
application_url                object
application_type               object
expiry                        float64
closed_time                   float64
formatted_experience_level     object
skills_desc                    object
listed_time                   float64
posting_domain                 object
sponsored                       int64
work_type                      object
currency                       object
compensation_type              object
normalized_salary             float64
zip_code                      float64
fips                          float64
dtype: object

In [8]:
data.isna().sum()

job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
normalized_salary              87776
zip_code                       20872
fips                           27415
dtype: int64

In [9]:
data =  data[['description','skills_desc','title', 'company_name','location','formatted_experience_level','work_type','currency','normalized_salary']]
data.head()

,description,skills_desc,title,company_name,location,formatted_experience_level,work_type,currency,normalized_salary
0,Job descriptionA leading real estate firm in N...,Requirements: \n\nWe are seeking a College or ...,Marketing Coordinator,Corcoran Sawyer Smith,"Princeton, NJ",NaN,FULL_TIME,USD,38480.0
1,"At Aspen Therapy and Wellness , we are committ...",NaN,Mental Health Therapist/Counselor,NaN,"Fort Collins, CO",NaN,FULL_TIME,USD,83200.0
2,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,Assitant Restaurant Manager,The National Exemplar,"Cincinnati, OH",NaN,FULL_TIME,USD,55000.0
3,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,Senior Elder Law / Trusts and Estates Associat...,"Abrams Fensterman, LLP","New Hyde Park, NY",NaN,FULL_TIME,USD,157500.0
4,Looking for HVAC service tech with experience ...,NaN,Service Technician,NaN,"Burlington, IA",NaN,FULL_TIME,USD,70000.0

In [10]:
data.isna().sum()

description                        7
skills_desc                   121410
title                              0
company_name                    1719
location                           0
formatted_experience_level     29409
work_type                          0
currency                       87776
normalized_salary              87776
dtype: int64

### Keeping only USD jobs

In [11]:
currency_counts = data['currency'].value_counts()
currency_counts

currency
USD    36058
EUR        6
CAD        3
BBD        2
AUD        2
GBP        2
Name: count, dtype: int64

In [12]:
data['location'].unique()

array(['Princeton, NJ', 'Fort Collins, CO', 'Cincinnati, OH', ...,
       'Middlebury, IN', 'Liberty Corner, NJ', 'Carroll County, MD'],
      dtype=object)

In [13]:
currencies_to_exclude = ['EUR', 'CAD', 'BBD', 'AUD', 'GBP']
data = data[~data['currency'].isin(currencies_to_exclude)]
data.head()

,description,skills_desc,title,company_name,location,formatted_experience_level,work_type,currency,normalized_salary
0,Job descriptionA leading real estate firm in N...,Requirements: \n\nWe are seeking a College or ...,Marketing Coordinator,Corcoran Sawyer Smith,"Princeton, NJ",NaN,FULL_TIME,USD,38480.0
1,"At Aspen Therapy and Wellness , we are committ...",NaN,Mental Health Therapist/Counselor,NaN,"Fort Collins, CO",NaN,FULL_TIME,USD,83200.0
2,The National Exemplar is accepting application...,We are currently accepting resumes for FOH - A...,Assitant Restaurant Manager,The National Exemplar,"Cincinnati, OH",NaN,FULL_TIME,USD,55000.0
3,Senior Associate Attorney - Elder Law / Trusts...,This position requires a baseline understandin...,Senior Elder Law / Trusts and Estates Associat...,"Abrams Fensterman, LLP","New Hyde Park, NY",NaN,FULL_TIME,USD,157500.0
4,Looking for HVAC service tech with experience ...,NaN,Service Technician,NaN,"Burlington, IA",NaN,FULL_TIME,USD,70000.0

### Only keeping Fulltime, Intern and Other roles

In [14]:
allowed_work_types = ['FULL_TIME', 'INTERNSHIP', 'OTHER']
data = data[data['work_type'].isin(allowed_work_types)]

In [15]:
data = data.drop(columns = 'skills_desc')
data.head()

,description,title,company_name,location,formatted_experience_level,work_type,currency,normalized_salary
0,Job descriptionA leading real estate firm in N...,Marketing Coordinator,Corcoran Sawyer Smith,"Princeton, NJ",NaN,FULL_TIME,USD,38480.0
1,"At Aspen Therapy and Wellness , we are committ...",Mental Health Therapist/Counselor,NaN,"Fort Collins, CO",NaN,FULL_TIME,USD,83200.0
2,The National Exemplar is accepting application...,Assitant Restaurant Manager,The National Exemplar,"Cincinnati, OH",NaN,FULL_TIME,USD,55000.0
3,Senior Associate Attorney - Elder Law / Trusts...,Senior Elder Law / Trusts and Estates Associat...,"Abrams Fensterman, LLP","New Hyde Park, NY",NaN,FULL_TIME,USD,157500.0
4,Looking for HVAC service tech with experience ...,Service Technician,NaN,"Burlington, IA",NaN,FULL_TIME,USD,70000.0

Dropping rows that dont have company name

In [16]:
data = data.dropna(subset=['company_name'])

In [17]:
data.shape

(98944, 8)

In [19]:
data.to_csv('data.csv', index=False)